<%- include('./partials/header'); %>

<div class="container">

  <% // contenido para usuarios NO logados %>
  <% if (!session.userId) { %>
    <p><%= __("To see the content you must do" )%>  <a href="/login"><%= __( "login" ) %></a></p>
  <% } %>

  <% // contenido para usuarios logados %>
  
  <% if (session.userId) { %>
    <h3><%= __("My Products") %></h3>

    <table class="table table-hover">
      <thead><tr>
        <th><%= __("Name") %></th>
        <th style="text-align: right"><%= __("Price") %></th>
        <th><%= __("Image") %></th>
        <th><%= __("Tags") %></th>
        <th><%= __("Actions") %></th>
      </tr></thead>
      <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td style="text-align: right"><%= product.price / 100  %>€</td>
          <td>
            <img 
            src="<%= product.image ? `/imagenes/${product.image}` :"https://placehold.co/100" %>" 
            alt="image"
            width= 100 
            height= 100 " ></td>
          <td><%= product.tags.join(', ') %></td>

          <td><a
            onclick="confirmDelete('<%= product.name %>', '<%= product._id %>')"
            href="javascript:void(0);">
                <i class="bi bi-trash"></i>
        </a></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    <p>
      <%= __("total") %> <%= totalCount %> <%= __("products.") %>
    </p>
    <p>
      <!-- prev page -->
      <% if (skipPrev >= 0) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipPrev %>"><%= __("prev") %></a>
      <% } else { %>
        <span style="color: lightgray;"><%= __("prev") %></span>
      <% } %>

      <!-- next page -->
      <% if (skipNext < totalCount) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipNext %>"><%= __("next") %></a>
      <% } else { %>
        <span style="color: lightgray;"><%= __("next") %></span>
      <% } %>
    </p>
  <% } %>
</div>

<script>
  function confirmDelete(name, productId) {
      if (confirm(`<%= __("Are you sure you want to delete the product") %> ${name}?`)) {
          window.location.href = `/products/delete/${productId}`;
      }
  }
</script>

<style>
  table {
    min-height: 300px;;
  }
  table tr td img {
    max-height: 20px;
  }
</style>

<%- include('./partials/footer'); %>