<%- include('../partials/header'); %>
<div class="container">

  <h1><%= __("New product") %></h1>
  <h5><%= __("For userId:") %> <%= session.userName %></h5>

  <form method="POST" enctype="multipart/form-data">

    <div class="mb-3">
      <label for="nameInput" class="form-label"><%= __("Name") %></label>
      <input type="text" required name="name" class="form-control" id="nameInput">
    </div>

    <div class="mb-3">
      <label for="priceInput" class="form-label"><%= __("Price") %></label>
      <input
        type="number" required
        min="0" value="0" step=".01"
        name="price" class="form-control" id="priceInput">
    </div>

    <div class="mb-3">
      <label class="form-check-label" for="customFile"><%= __("image") %></label>
      <input  type="file" name="image" class="form-control" id="customFile">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" value="motor" id="checkMotor">
      <label class="form-check-label" for="checkMotor"><%= __("Motor") %></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" value="lifestyle" id="checkLifestyle">
      <label class="form-check-label" for="checkLifestyle"><%= __("Lifestyle") %></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" value="mobile" id="checkMobile">
      <label class="form-check-label" for="checkMobile"><%= __("Mobile") %></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tags" value="work" id="checkWork">
      <label class="form-check-label" for="checkWork"><%= __("Work") %></label>
    </div>

    <button type="submit" class="btn btn-primary"><%= __("Submit") %></button>
  </form>


</div>

<%- include('../partials/footer'); %>